<div>
    <h2>Signal Implementation</h2>
    <app-signal></app-signal>
</div>
<div>
    <h4></h4>
    <app-charts></app-charts>
</div>
<div>
    <app-area-chart></app-area-chart>
</div>
<div>
    <app-bar-chart></app-bar-chart>
</div>
<div>
    <app-bubble-chart></app-bubble-chart>
</div>
<div>
    <app-pie-chart></app-pie-chart>
</div>
<div>
    <app-donut-chart></app-donut-chart>
</div>
<div>
    <app-mixed-chart></app-mixed-chart>
</div>
<div>
    <app-polar-area-chart></app-polar-area-chart>
</div>
<div>
    <app-rador-chart></app-rador-chart>
</div>